{% extends "base.html" %}
{% block title %}Transcribe - Audio2Text{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Transcribe Your Audio</h1>

    <form id="transcriptionForm" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="audioFile" class="form-label">Upload Audio File</label>
            <input type="file" class="form-control" id="audioFile" name="audioFile" accept="audio/*" required>
        </div>

        <div class="mb-3">
            <label for="modelSelect" class="form-label">Select Transcription Model</label>
            <select class="form-select" id="modelSelect" name="model">
                <option value="base" selected>Base</option>
                <option value="tiny">Tiny</option>
                <option value="small">Small</option>
                <option value="small">Medium</option>
                <option value="small">Turbo</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="titleInput" class="form-label">Title (Optional)</label>
            <input type="text" class="form-control" id="titleInput" name="title" placeholder="Enter a custom title for your transcription">
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" id="backgroundSwitch" type="checkbox" role="switch" >
            <label class="form-check-label">
                Run transcription in background
                <i style="transform: scale(1.2); margin-left: 3px;" class="fa-regular fa-circle-question" data-toggle="tooltip" data-placement="right" title="By running the transcription in the background yo will be redirected to homepage. When the transcription is ready you can find it in the &ldquo;My Transcriptions&ldquo; section"></i>
            </label>
          </div>
          <br>
        <button type="submit" class="btn btn-primary w-100">Transcribe</button>
    </form>

    <div id="loadingSpinner" class="mt-4 text-center d-none">
        <img src="{{url_for('static', filename='img/loading.gif')}}" height="20" alt="Loading..." />
        <p>Please wait, transcribing your file...</p>
    </div>

    <div id="results" class="mt-4 d-none">
        <h3>Transcription Result</h3>

        <div class="mb-2">
            <span class="badge bg-info me-2" id="detectedLang"></span>
            <span class="badge bg-secondary" id="transcriptionTime"></span>
        </div>

        <pre id="transcriptionText" class="p-3 bg-light rounded text-break" style="white-space: pre-wrap;"></pre>
    </div>
</div>

<script>
document.getElementById("transcriptionForm").addEventListener("submit", async (event) => {
    event.preventDefault();
    
    const formData = new FormData();
    const backgroundSwitch = document.getElementById("backgroundSwitch");
    const fileInput = document.getElementById("audioFile");
    const titleInput = document.getElementById("titleInput");
    const modelSelect = document.getElementById("modelSelect");
    const loadingSpinner = document.getElementById("loadingSpinner");

    formData.append("file", fileInput.files[0]);
    formData.append("model", modelSelect.value);
    formData.append("title", titleInput.value);
    loadingSpinner.classList.remove("d-none");
    document.getElementById("results").classList.add("d-none");

    try {
        if(backgroundSwitch.checked){
            fetch("{{ url_for('api.transcriber.create') }}", {
                method: "POST",
                headers: {
                    "X-API-Key": `${localStorage.getItem("apiKey")}`
                },
                body: formData
            });
            window.location.href = "/";
            return;
        }

        const response = await fetch("{{ url_for('api.transcriber.create') }}", {
            method: "POST",
            headers: {
                "X-API-Key": `${localStorage.getItem("apiKey")}`
            },
            body: formData
        });

        console.log("is in")
        const result = await response.json();

        if (response.ok) {
            const resultsDiv = document.getElementById("results");
            const transcriptionText = document.getElementById("transcriptionText");
            const detectedLang = document.getElementById("detectedLang");
            const transcriptionTime = document.getElementById("transcriptionTime");

            transcriptionText.textContent = result.transcription.trim();
            detectedLang.textContent = `Detected Language: ${result.detected_lang}`;
            transcriptionTime.textContent = `Time: ${result.transcription_time} seconds`;

            loadingSpinner.classList.add("d-none");
            resultsDiv.classList.remove("d-none");
        } else {
            loadingSpinner.classList.add("d-none");
            document.getElementById("results").classList.add("d-none");
            alert(result.message || "An error occurred while transcribing the audio.");
        }
    } catch (error) {
        console.error("Error:", error);
        alert("An unexpected error occurred.");
    }
});
</script>
{% endblock %}
